body {
	height: 100%;
	width: 100%;
	margin: 0;
	background-color: #ccff90;
}
header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	height: 150px;
	background-color: #424242;
}
#header-logo {
	height: 100px;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	border: 4px solid white;
	text-align: center;
	background-color: #6d6d6d;
}
header p {
	color: #80e27e;
	font-size: 80px;
	padding: 0;
	margin: 0;
	font-family: monospace;
}